html {
  height: 100%;
  width: 100%;
}
#all{color:white}
#brobox{
background-color:#9AD1D4;
}
#about-me{
  background-color: #CCDBDC;
  color:black
}
#subject{background-color: #80DED7;}
#gaming{
  background-color: #9AD1D4;
}
#homies{background-color: #007EA7;}
#famalam{background-color:#9AD1D4

}
#food{background-color:#003249}
#Star{background-color: #CCDBDC; color:black;}
