
#Nav {
    background-color: #646E78;
}

#box-b {
    background-color: #A7754D;
    color: #EAB464;
    height: 150px
}

#box-c {
    background-color: #DCCCBB;
    color: #646E78;
    height: 150px
}

#box-d {
    background-color: #EAB464;
    color: #A7754D;
    height: 300px
}

#box-e {
    background-color: #646E78;
    color: #646E78;
    height: 300px
}

#box-f {
    background-color: #A7754D;
    color: #EAB464;
    height: 300px
}

#box-g {
    background-color: #DCCCBB;
    color: #646E78;
    height: 350px
}

#box-h {
    background-color: #EAB464;
    color: #A7754D;
    height: 350px
}

#box-i {
    background-color: #646E78;
    color: #646E78;
    height: 75px
}

#box-j {
    background-color: #646E78;
    color: #646E78;
    height: 350px
}